extends layout

block content
    p 
      | Welcome to #{title}, unfortunetly it is currently under construction.
      | Check back later, or you can check out one of my profiles below:
    ul
      li
        a(href='https://github.com/jaclegonetwork') Github
      li
        a(href='https://stackoverflow.com/users/9062102/jac4e?tab=profile') Stackoverflow
      li
        a(href='https://linkedin.com/in/jacques-fourie-6500a0194') Linkedin     
