extends layout

block content
<<<<<<< Updated upstream
  p= `no such file or directory: ${failed}`
  p This site is still under construction :(
  p However, interesting things are on their way so check back soon!
=======
  div.col
    p This page is still under construction :(
    p However, interesting things are on their way so check back soon!
>>>>>>> Stashed changes
