block footer
<<<<<<< Updated upstream
  footer.fixed-bottom
=======
  footer.col
>>>>>>> Stashed changes
    div.container-fluid
      ul.nav.justify-content-center
        li.nav-item.p-2
          a(href='https://github.com/jaclegonetwork')
            i.fab.fa-github-square.icon
        li.nav-item.p-2
          a(href='https://stackoverflow.com/users/9062102/jac4e?tab=profile')
            i.fab.fa-stack-overflow.icon
        li.nav-item.p-2
          a(href='https://linkedin.com/in/jacques-fourie-6500a0194')
            i.fab.fa-linkedin.icon
<<<<<<< Updated upstream
      p.footer-text.text-center Copyright 2020 - Jacques Fourie.
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js', integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI', crossorigin='anonymous')
=======
      p.footer-text.text-center Copyright 2020 - Jacques Fourie
  script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js', integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI', crossorigin='anonymous')
  script(src='https://kit.fontawesome.com/4a720b734a.js', crossorigin='anonymous')
  script(src="https://unpkg.com/react@16/umd/react.development.js", crossorigin='anonymous')
  script(src="https://unpkg.com/react-dom@16/umd/react-dom.development.js", crossorigin='anonymous')
  script( src="/js/main.js")
>>>>>>> Stashed changes
