block nav
  nav.navbar.navbar-expand.px-0
    ul.navbar-nav
      li.nav-item.mr-2
        a(href='/about') /about
      li.nav-item.mr-2
        a(href='/blog') /blog
      li.nav-item.mr-2
        a(href='/resume') /resume
      li.nav-item.mr-2
        a(href='/contact') /contact
  div.row
    div.col
      h1.title
        span= `jacques@fourie:${location}$`
        span.cursor.ml-2 ▋