nav.col-12.navbar.navbar-expand
  ul.navbar-nav#directoryElement
    li.nav-item.mr-2
      a(href='/about') /about
    li.nav-item.mr-2
      a(href='/blog') /blog
    li.nav-item.mr-2
      a(href='/resume') /resume
    li.nav-item.mr-2
      a(href='/contact') /contact
div.col-12
  h1.title
    span= `jacques@fourie:${location}$`
    span#input
    span.cursor.ml-2 ▋
div.col-12
  span#output