extends layout

block content
<<<<<<< Updated upstream
  div.row
    div.col
      ul
        li
          p freelance developer
          p This site is still under construction :(
          p However, interesting things are on their way so check back soon!
=======
  div.col
    p freelance developer
    p This site is still under construction :(
    p However, interesting things are on their way so check back soon!
    p However, interesting things are on their way so check back soon!
    p However, interesting things are on their way so check back soon!
    p However, interesting things are on their way so check back soon!
    p However, interesting things are on their way so check back soon!
    p However, interesting things are on their way so check back soon!
    p However, interesting things are on their way so check back soon!
    p However, interesting things are on their way so check back soon!
    p However, interesting things are on their way so check back soon!3
    p However, interesting things are on their way so check back soon!
    p However, interesting things are on their way so check back soon!
    p However, interesting things are on their way so check back soon!
    p However, interesting things are on their way so check back soon!
    p However, interesting things are on their way so check back soon!
    p However, interesting things are on their way so check back soon!
    p However, interesting things are on their way so check back soon!3
    p However, interesting things are on their way so check back soon!
    p However, interesting things are on their way so check back soon!
    p However, interesting things are on their way so check back soon!
    p However, interesting things are on their way so check back soon!
    p However, interesting things are on their way so check back soon!3
    p However, interesting things are on their way so check back soon!
    p However, interesting things are on their way so check back soon!33
>>>>>>> Stashed changes
