extends layout

block content
  div.row
    div.col
      ul
        li
          p freelance developer
          p This site is still under construction :(
          p However, interesting things are on their way so check back soon!
