<div class="col-12">
  <p>Most of my projects can currently be found on my github.</p>
  <p>Heres a list of some of my better projects:</p>
</div>
<div class="col-12">
  <h4>uLM - <a href="https://github.com/jac4e/uLM">Source</a></h4>
  <p>My first hardware project! It's a simple digital light meter for microcontrollers.</p>
</div>
<div class="col-12">
  <h4>cockpit-sensors-plugin - <a href="https://github.com/jac4e/cockpit-sensors-plugin">Source</a></h4>
  <p>A plugin for <a href="https://cockpit-project.org/">Cockpit</a>--an open source web-based interface for server
    administrators--that allows for remote temperature, power, and fan speed readouts of the server using th lm-sensors
    program.</p>
</div>
<div class="col-12">
  <h4>Personal website - <a href="https://github.com/jac4e/website">Source</a></h4>
  <p>Just my personal website I use to show things off. You happen to be on it right now
    :)</p>
</div>