.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
  background: inherit;
  width: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.5);
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 1);
}

.background {
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.header {
  z-index: 2;
  //margin-top: 40vh;
  background: inherit;
  padding: 2vh 0vh 2vh 0vh;
  top: 0;
  width: 100vw;
  max-height: 25vh;
}

.header div h1 {
  overflow: hidden;
}

.header div h1 span {
  position: absolute;
  display: inline;
}

.output {
  opacity: 0.5;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  padding-bottom: 15px;
}

.content {
  z-index: 1;
}

@supports (-webkit-touch-callout: none) {
  @media (orientation: portrait) {
    .content {
      max-height: 55vh !important;
    }
  }
  @media (orientation: landscape) {
    .content {
      max-height: 45vh !important;
    }
  }
}

@media (min-height: 786px) {
  .content {
    max-height: 74vh;
  }
}
@media (max-height: 785px) {
  .content {
    max-height: 70vh;
  }
}
@media (max-height: 685px) {
  .content {
    max-height: 65vh;
  }
}
@media (max-height: 500px) {
  .content {
    max-height: 60vh;
  }
}
@media (max-height: 290px) {
  .content {
    max-height: 50vh;
  }
}

footer {
  padding-top: 2vh;
  padding-bottom: 3vh;
  max-height: 30vh;
  z-index: 2;
  position: fixed;
  width: inherit;
  bottom: 0;
  max-width: inherit;
}

footer .footer-text {
  margin-bottom: 0.5rem;
}

@media (max-height: 348px) {
  footer .footer-text.top {
    display: none;
  }
}

@media (max-height: 426px) {
  footer .footer-text.bottom {
    display: none;
  }
}

footer ul {
  list-style-type: none;
  display: flex;
  margin-left: 0px;
  padding-left: 0px;
}
footer i {
  padding: 0px 10px 0px 10px;
  font-size: 32px;
}
footer p {
  font-size: 12px;
}

@media (max-width: 1199.98px) {
  .header div h1 {
    font-size: 3vw;
  }
}

@media (max-width: 991.98px) {
  .header div h1 {
    font-size: 2.5vw;
  }
}

@media (max-width: 767.98px) {
  .header div h1 {
    font-size: 2dvw;
  }
}

@media (max-width: 575.98px) {
  .header div h1 {
    font-size: 1rem;
  }
}
