<div class="col-12">
  <h3>UNIVERSITY OF ALBERTA</h3>
  <p>
    Engineering Physics, BSc Co-op Class of 2024
  </p>
  <h3>TECHNICAL SKILLS</h3>
  <ul>
    <li>Programming: MATLAB, Python, JavaScript, HTML, CSS, PHP, C/C++</li>
    <li>Software: Git, GCC, CMake, Bash, PowerShell, Visual Studio, VS Code, Wordpress</li>
    <li>Operating Systems: Windows, Linux, macOS</li>
    <li>Equipment: PCB Rework tools, Electronic Testing Equipment, Arduino, Raspberry Pi, Hand and power tools</li>
    <li>MS Office: Word, Excel, PowerPoint</li>
  </ul>
  <p>Full resume and transcript available upon request.</p>
</div>
